body {
  margin-top: 50px;
}
header .st1 {
  background-color: #012269 !important;
}
header .st0 {
  height: 157px;
  background: url('img1.jpg') no-repeat center center;
}
header .st0 .st2 {
  height: 110px;
}
header .st0 .st2 .st3 {
  line-height: 108px;
  background: url('img3.png') no-repeat right center;
}
header .st0 .st4 {
  height: 47px;
  background-color: rgba(3, 43, 131, 0.3) !important;
  position: relative;
}
header .st0 .st4 > div {
  display: flex;
}
header .st0 .st4 > div dl {
  flex: 1;
}
header .st0 .st4 > div dl:hover dd {
  display: block;
}
header .st0 .st4 > div dl dt {
  line-height: 47px;
  font-size: 15px;
  color: white;
  text-align: center;
}
header .st0 .st4 > div dl dt:hover {
  cursor: pointer;
  background-color: #9fd1f0;
}
header .st0 .st4 > div dl dd {
  z-index: 999;
  display: none;
  position: absolute;
  left: 0;
  top: 47px;
  width: 100%;
  background-color: rgba(202, 200, 200, 0.8);
}
header .st0 .st4 > div dl dd a {
  display: block;
  color: black;
  line-height: 2;
}
footer {
  background: url('img2.jpg') no-repeat center center;
  height: 240px;
}
footer div.container {
  padding-top: 30px;
  padding-bottom: 20px;
}
footer .st5 p:last-child {
  margin-top: 20px;
}
footer .st5 p:last-child a {
  display: block;
  color: white;
  line-height: 1.8;
  padding-left: 30px;
}
footer .st5 p:last-child a:hover {
  color: red;
}
footer .st5 p:last-child a:first-child {
  background: url('img5.png') no-repeat left center;
}
footer .st6 {
  color: white;
  line-height: 2.2;
}
footer .st6 p:first-child {
  border-bottom: 1px solid white;
}
footer .st6 p:first-child::before {
  content: " ";
  position: absolute;
  width: 30%;
  height: 1px;
  background-color: white;
  margin-top: 30px;
}
footer .st6 a {
  display: block;
  color: white;
}
footer .st6 a:hover {
  color: red;
}
footer > p {
  text-align: center;
  background-color: #041438;
  line-height: 30px;
  color: #999;
}
main {
  background-color: #efefef;
  padding: 30px 0;
}
main .detail1 h3 {
  font-size: 20px;
}
main .detail1 ul li {
  line-height: 35px;
  text-align: center;
  margin-right: 40px;
  list-style: none;
}
main .detail1 ul li a {
  font-size: 16px;
}
main .detail2 h3 {
  font-size: 20px;
}
main .detail2 ol {
  margin-top: -20px;
  background-color: transparent;
  color: white;
}
main .detail2 ol li.active {
  color: white;
}
main .detail2 ol a {
  color: white;
}
main .detail3 h3 {
  text-align: center;
}
main .detail3 span {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #999;
  margin: 20px 0;
}
main .detail3 img {
  width: 100%;
}
main .detail3 p {
  margin-top: 15px;
  line-height: 1.8;
  text-indent: 2em;
}
